input[type=submit] {
    background-color: #0942bd;
    border: none;
    color: #ffffff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: caption;
    margin: 5px;
    width: 100%;
    border: 2px solid #330606;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
  }
  
  input[type=button] {
     background-color: #0a2d79; 
    color: #ffffff;
    padding: 10px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: Arial;
    margin: 5px;
    width: 120px;
    border: 1px solid #350404;
  }
  .main-div{
    /* height: 10px; */
    margin: auto;
    justify-content: center;
    width : 95%;
 }

 .wrapper {
    display: flex;
    margin: auto;
    align-items: center;
    flex-direction: column; 
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 5px;
  }
  .audregbtn {
    background-color: #031a4d;
    border: 1px solid #0a2d79;
    color: white;
    padding: 10px 22px;
    text-align: right;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  .decbutton {
    background-color: #b80505;
    border: none;
    color: white;
    padding: 10px 22px;
    text-align: right;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

  .div-block{
      margin: auto;
      justify-content: center;
      width: 80%;
  }

  .audition-div{
      border:none; 

  }
  .center{
      text-align: center;
  }

  .audition-background-image{
    background-image: url("../../assets/images/backgroud-images/upcomming_audition_background.jpg");
    width: 100%;
    height: 100%;
     /* padding: 120px 70px;  */
  }

  .event-1-background-image{
    background-image: url("../../assets/images/backgroud-images/event_1_background.jpg");
    width: 100%;
    height: 100%;
     /* padding: 120px 70px;  */
  }

  .event-2-background-image{
    background-image: url("../../assets/images/backgroud-images/event_2_background.jpg");
    width: 100%;
    height: 100%;
     /* padding: 120px 70px;  */
  }

  .event-3-background-image{
    background-image: url("../../assets/images/backgroud-images/event_3_background.jpg");
    width: 100%;
    height: 100%;
     /* padding: 120px 70px;  */
  }
