<!-- <div class="header-div">
    <div class="header-welcome-div">
      <h1>Welcome {{this.loggedInUser}}</h1>
    </div>
    <div class="header-logout-div">
       <input id="logoutbtn" type="button" class="logoutbutton" (click)="logout()" href='home' value="Log out">
    </div>
</div> -->
<div class="main-div">
  <div class="center">
    <h3 >No of Students Found: {{this.count}}</h3>
  </div>
  <ng-container
      *ngIf="this.count; then YES; else NO">
  </ng-container>
      <ng-template #NO>
          <div class="center">
              <h3 >No Data Found, Go Back And Search Again</h3>
              <input id="approvereg" class="backbutton" type="button" (click)="back()" value="BACK">
          </div>
      </ng-template>
      <ng-template #YES>
          <div class="div-block" *ngFor="let profile of profiles" >
                <br>
                  <div class="row">
                      <div class="col-md-6">
                          <label>Profile Photo</label>
                      </div>
                      <div class="profile-img">
                        <img src="{{this.profilePicPath}}{{profile.regn_no}}.jpg" alt="Profile photo"/>
                    </div>
                      <div class="col-md-6">
                          <label>Registration No</label>
                      </div>
                      <div class="col-md-6">
                          <p>{{profile.regn_no}}</p>
                      </div>
                      <div class="col-md-6">
                          <label>Name</label>
                      </div>
                      <div class="col-md-6">
                          <p>{{profile.first_name}} {{profile.middle_name}} {{profile.last_name}}</p>
                      </div>
                      <div class="col-md-6">
                          <label>Mobile No.</label>
                      </div>
                      <div class="col-md-6">
                          <p>{{profile.mobile_number}}</p>
                      </div>

                      <div class="col-md-6">
                          <label>Date Of Join</label>
                      </div>
                      <div class="col-md-6">
                          <p>{{profile.DOJ}}</p>
                      </div>
                      <div class="col-md-6">
                        <label>Class</label>
                      </div>
                      <div class="col-md-1">
                        <p>{{profile.class_name}}</p>
                      </div>
                      <div class="col-md-6">
                        <label>Fathers Name (Occupation)</label>
                      </div>
                      <div class="col-md-6">
                        <p>{{profile.fathers_name}} ({{profile.father_occupation}})</p>
                      </div>
                      <div class="col-md-6">
                        <label>Mothers Name (Occupation)</label>
                      </div>
                      <div class="col-md-6">
                        <p>{{profile.mothers_name}} ({{profile.mother_occupation}})</p>
                      </div>
                      <div class="col-md-6">
                          <label>Actual Fees Per Month</label>
                      </div>
                      <div class="col-md-1">
                          <p><input type="text" placeholder={{profile.fees}} [(ngModel)]="fees" name="fees" id="fees"></p>
                      </div>
                      <div class="col-md-6">
                          <label>Fees Payble Per Month</label>
                      </div>
                      <div class="col-md-1">
                          <p><input type="text" placeholder={{profile.discounted_fees}}  [(ngModel)]="discounted_fees" name="discounted_fees" id="discounted_fees"></p>
                      </div>
                      
                      <div class="col-md-6">
                          <label>ACTIONS: </label>
                      </div>
                      <div class="col-md-6">
                          <input id="approvereg" type="button" class="aprvbutton" target="_blank" (click)="view_profile(profile.user_id)" value="View Profile">
                          <input id="approvereg" type="button" class="backbutton" (click)="back()" value="Back">
                          <input id="approvereg" type="button" class="aprvbutton" (click)="updatefees(profile.regn_no,this.fees,this.discounted_fees)" value="Update Fees">
                      </div>
                      
                      <div class="col-md-6">
                          <label>   </label>
                      </div>
                      <div class="col-md-6">
                          <p>  </p>
                      </div>
                  </div>
          </div>
      </ng-template>
</div>
