input[type=submit] {
    background-color: #0942bd;
    border: none;
    color: #0d0d0d;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: caption;
    margin: 5px;
    width: 100%;
    border: 2px solid #f6f6f6;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
  }
  
  .logoutbutton {
    background-color: #0a2d79;
    border: none;
    color: white;
    padding: 10px 22px;
    text-align: right;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  
  .header-div {
    background-color: lightblue;    
    height: 110px;
  }
  
  .header-welcome-div {   
    text-align: center;
    justify-content: center;
  
  }
  
  .header-logout-div {   
    text-align: right;
    justify-content: right;
  }
  
  input[type=button] {
    /* background-color: #0a2d79; */
    color: #ffffff;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: Arial;
    margin: 5px;
    width: 120px;
    border: 2px solid #000000;
    border-radius: 15px;
  }
  .main-div{
    height: 100px;
    margin: auto;
    justify-content: center;
 }

 .wrapper {
    display: flex;
    margin: auto;
    align-items: center;
    flex-direction: column; 
    justify-content: center;
    width: 50%;
    min-height: 100%;
    padding: 40px 40px;
    /* border: 1px solid #0d0d0d; */
    background-color: #098641;
  }

  .container {
    padding: 16px;
    width: 100%;
    border: 1px solid #0d0d0d;
  /*  background-color: white; */
  }

  input[type=date] {
    background-color: #f6f6f6;
    border: none;
    color: #0d0d0d;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    width: 100%;
    border: 1px solid #0d0d0d;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
  }
  
  input[type=date]:focus {
    background-color: #fff;
    border-bottom: 2px solid #5fbae9;
  }
  
  input[type=date]:placeholder {
    color: #cccccc;
  }
  
 

  input[type=submit] {
    background-color: #0942bd;
    border: none;
    color: #0d0d0d;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: caption;
    margin: 5px;
    width: 100%;
    border: 1px solid #0d0d0d;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
  }
  
  input[type=submit]:focus {
    background-color: rgb(7, 61, 241);
    border-bottom: 2px solid #5fbae9;
  }
  
  input[type=submit]:placeholder {
    color: #2a09e4;
  }

  input[type=text] {
    background-color: #f6f6f6;
    color: #0d0d0d;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: caption;
    margin: 5px;
    width: 100%;
    border: 1px solid #270505;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
  }
  
  input[type=text]:focus {
    background-color: #fff;
    border-bottom: 2px solid #5fbae9;
  }
  
  input[type=text]:placeholder {
    color: #180505;
  }

  input[type=number] {
    background-color: #f6f6f6;
    color: #0d0d0d;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: caption;
    margin: 5px;
    width: 100%;
    border: 1px solid #270505;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
  }
  
  input[type=number]:focus {
    background-color: #fff;
    border-bottom: 2px solid #5fbae9;
  }

  .registerbtn {
    background-color: #0b57e2;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: 2px solid #000000;
    border-radius: 45px;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  
  .registerbtn:hover {
    opacity: 1;
  }
  