
.logoutbutton {
    background-color: #1b7ceb;
    border: none;
    color: white;
    padding: 10px 22px;
    text-align: right;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  
  .header-div {
    background-color: lightblue;    
    height: 110px;
  }
  
  .header-welcome-div {   
    text-align: center;
    justify-content: center;
  
  }
  
  .header-logout-div {   
    text-align: right;
    justify-content: right;
  }
  
  input[type=button] {
    background-color: #0a2d79;
    color: #ffffff;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: Arial;
    margin: 5px;
    width: 10%;
    border: 2px solid #000000;
    border-radius: 15px;
  }