<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<head>
  <title>Toolbar</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> 
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
 <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> 


</head>
<div class="navbar">
  <a>
   <img src="../assets/images/backgroud-images/toolbar_logo.jpg" alt="lalitkala logo">
  </a>
  <a href="/">DASH BOARD</a>
  <a href="home">HOME</a>
  <a href="createpayment">PAYMENTS</a>
  <a href="students">STUDENT DETAILS</a>
  <a href="pendingapprovals">ADMIN PANEL</a>
  <a href="#">GALLERY</a>
  <a href="#">ABOUT US</a>
  <!-- <div class="dropdown">
    <button class="dropbtn">ADMIN SECTION 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
     <a href="students">STUDENT DETAILS</a>
     <a href="pendingapprovals">ADMIN PANEL</a>
    </div>
  </div>  -->
  <a aria-label="Follow us on Facebook" target="_blank" rel="_next" href="https://www.facebook.com/Lalitkala4u/" title="Facebook">
       <img src="https://img.icons8.com/metro/30/000000/facebook-new--v2.png"/>
  </a>
  <a aria-label="Subscribe us on Youtube Channel" target="_blank" rel="_next" href="https://www.youtube.com/channel/UCo1qEAH-63jMYEuNMF94wvQ" title="Youtube">
    <img src="https://img.icons8.com/ios-filled/30/000000/youtube-squared.png"/>
  </a>
</div>
<!-- <div class="u-custom-menu u-nav-container-collapse">
  <div class="u-align-center u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
    <div class="u-menu-close"></div>
      <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2">
        <li class="u-nav-item"><a class="u-button-style u-nav-link" href='login'>Login</a></li>
        <li class="u-nav-item"><a class="u-button-style u-nav-link" href='register'>REGISTER<br>(Post Audition)</a></li>
        <li class="u-nav-item"><a class="u-button-style u-nav-link" href='upcomming-auditions'>REGISTER<br>(Pre Audition)</a></li>
      </ul>
    </div>
    <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
</div> -->
<div>
  <router-outlet></router-outlet>
</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->