
/* BASIC */

html {
    background-color: #089be4;
  }
  
  body {
    font-family: "Poppins", sans-serif;
    height: 100vh;
  }
  
  a {
    color: #92badd;
    display:inline-block;
    text-decoration: none;
    font-weight: 400;
  }
  
  h2 {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    display:inline-block;
    margin: 40px 8px 10px 8px; 
    color: #cccccc;
  }
   
  /* TABS */
  
  h2.inactive {
    color: #cccccc;
  }
  
  h2.active {
    color: #0d0d0d;
    border-bottom: 2px solid #5fbae9;
  }
        
  #icon {
    width:60%;
  }
  
  /* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: scroll;
}

/* Change the color of links on hover */
.topnav a:hover {
color: black;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
float: left;
}

.toolbar{
   height: 75px;
   padding: 30px 30px;
   background-color: #234b02;
   justify-content: center;
}
