<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<head>
  <title>Toolbar</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> 
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
 <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> 
<link rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.16.0/themes/prism.css" />
</head>
<div class="navbar">
  <a href="/">
   <img src="../assets/images/backgroud-images/toolbar_logo.jpg" alt="lalitkala logo">
  </a>
  <a href="home">HOME</a>
  <a href="createpayment">PAYMENTS</a>
  <!-- <a href="students">STUDENT DETAILS</a> -->
  <a href="pendingapprovals">ADMIN PANEL</a>
<a href="upcomming-auditions">UPCOMMING EVENTS</a>
   <a href="gallery">GALLERY</a>
  <a href="aboutus">ABOUT US</a> 
  
    <a aria-label="Follow us on Facebook" target="_blank" rel="_next" href="https://www.facebook.com/Lalitkala4u/" title="Facebook">
      <img src="https://img.icons8.com/metro/30/000000/facebook-new--v2.png"/>
    </a>
    <a aria-label="Subscribe us on Youtube Channel" target="_blank" rel="_next" href="https://www.youtube.com/channel/UCo1qEAH-63jMYEuNMF94wvQ" title="Youtube">
      <img src="https://img.icons8.com/ios-filled/30/000000/youtube-squared.png"/>
    </a>
  <span style="font-size:30px;cursor:pointer" (click)="openNav()">&#9776;</span>
  <!-- <ng-container
     *ngIf="this.is_loggedIn=='true'; then YES; else NO">
  </ng-container>
  <ng-template #YES>
    <a (click)="logout()">LOGOUT</a>
  </ng-template>
  <ng-template #NO>
    <a href="login">LOGIN</a>
  </ng-template> -->
</div>
 
<div>
  <router-outlet></router-outlet>
</div>


<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->