<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<head>
  <title>Toolbar</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
 <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> 


</head>
<nav class="navbar navbar-expand-sm navbar-dark  toolbar">
  <div class="container-fluid">
    <ol class="nav navbar-nav">
        <li class="nav-item">
          <a>
            <img src="../app/images/toolbar_logo.jpg" alt="lalitkala logo">
          </a>
        </li>
        <li class="nav-item"><a href="/">DASH BOARD</a></li>
        <li class="nav-item"><a href="home">HOME</a></li>
        <li class="nav-item"><a href="students">STUDENT DETAILS</a></li>
        <li class="nav-item"><a href="createpayment">PAYMENTS</a></li>
        <li class="nav-item"><a href="pendingapprovals">ADMIN PANEL</a></li>
        <li class="nav-item"><a href="#">UPCOMMING EVENTS</a></li>
        <li class="nav-item"><a href="#">ABOUT US</a></li>
    </ol>
    <li class="nav-item">
      <a aria-label="Follow us on Facebook" target="_blank" rel="_next" href="https://www.facebook.com/Lalitkala4u/" title="Facebook">
        <img src="https://img.icons8.com/metro/30/000000/facebook-new--v2.png"/>
      </a>
    </li>
    <li class="nav-item">
      <a aria-label="Subscribe us on Youtube Channel" target="_blank" rel="_next" href="https://www.youtube.com/channel/UCo1qEAH-63jMYEuNMF94wvQ" title="Youtube">
        <img src="https://img.icons8.com/ios-filled/30/000000/youtube-squared.png"/>
        </a> 
    </li>
  </div>
</nav>
<div>
  <router-outlet></router-outlet>
</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->