  
  <!-- Toolbar -->

<div style="background-image: url('../../images/coverphoto.jpg');">
  <div class="content" role="main" style="background-image: url('../../images/coverphoto.jpg');">
  
    <!-- Highlight Card -->
    <div>
        <img src="../../images/lalitkala_logo.jpg" alt="lalitkala logo" width="150" height="150">
        <h2><span>Welcome to Lalitkala</span></h2>
    </div>

    <div class="card-container" style="background-image: url('../../images/coverphoto.jpg');">
      <a class="card" rel="next" href='login'>
        <span>LOGIN</span>
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>    
      </a>
  
      <a class="card" rel="next" href="register">
        <span>REGISTER</span>
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
      </a>
    </div>
</div>
