  
  <!-- Toolbar -->

<div class="background-image">
  <div class="content" role="main" >
    
    <!-- Highlight Card -->
    <div class="logo">
    </div>
    <div  class="stylish-font">
      <!-- <p>Welcome to Lalitkala</p> -->
    </div>
    <div class="card-container">
      <a class="card" rel="next" href='login'>
        <span style="font:Algerian;">LOGIN</span>
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30"></svg>    
      </a>
  
      <a class="card" rel="next" href="register">
        <span>REGISTER<br>(Post Audition)</span>
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="30" height="60" viewBox="0 0 50 60"></svg>
      </a>
      <a class="card" rel="next" href="upcomming-auditions">
        <span>REGISTER<br>(Pre Audition)</span>
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="30" height="60" viewBox="0 0 50 60"></svg>
      </a>
    </div>
</div>

<!-- <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/> -->
