<!-- <div class="header-div">
    <div class="header-welcome-div">
      <h1>Welcome {{this.loggedInUser}}</h1>
    </div>
    <div class="header-logout-div">
       <input id="logoutbtn" type="button" class="logoutbutton" (click)="logout()" href='home' value="Log out">
    </div>
</div> -->
<div class="container">
    <input type="text" placeholder="Search By First Name" [(ngModel)]="firstname" name="firstname" id="firstname">
    <input type="text" placeholder="Search By Last Name" [(ngModel)]="lastname" name="lastname" id="lastname">
    <input type="text" placeholder="Search By Mobile No" [(ngModel)]="mobileno" name="mobileno" id="mobileno">
    <input type="text" placeholder="Search By REGN No" [(ngModel)]="regno" name="regno" id="regno">
    <hr>
    <button type="button" (click)="searchstudent()" class="registerbtn">Search</button>
  </div>