<p>students works!</p>
<div class='form-group wrapper comment row'>
    <h1 style="color:rgb(16, 2, 66);">Search for Student Profile</h1>
    <table>
        <tr>
            <td><input class=" fadeIn second col-sm-12" type="text" name="firstname" placeholder="Search by First Name"></td>
            <td><input class=" fadeIn second col-sm-12" type="text" name="lastname" placeholder="Search by Last Name"></td>
        </tr>
        <tr>
            <td><input class=" fadeIn second col-sm-12" type="text" name="mobileno" placeholder="Search by Mobile no"></td>
            <td><input class=" fadeIn second col-sm-12" type="text" name="regno" placeholder="Search by Regn No"></td>
        </tr>
        </table>
        <input type="submit" class="fadeIn second col-sm-4" value="Search">
</div>