<!-- <div class="header-div">
    <div class="header-welcome-div">
      <h1>Welcome {{this.loggedInUser}}</h1>
    </div>
    <div class="header-logout-div">
       <input id="logoutbtn" type="button" class="logoutbutton" (click)="logout()" href='home' value="Log out">
    </div>
</div> -->

<div class="background-image">
    <div id="id01" class="wrapper">
      <p><b>Upload Your Profile Photo</b></p>
      <div class="container">
 
        <label for="regnno"><b>Enter Registration No*</b></label><br>
        <input type="text" placeholder="Enter Registration No" [(ngModel)]="regnno" name="regnno" id="regnno" readonly>
        <form action="/uploadProfilePic" method="post" enctype="multipart/form-data">
            <input type="file" (change)="fileChange($event)" placeholder="Upload Your Photo" [(ngModel)]="photo" name="photo" id="photo" aria-describedby="inputGroupFileAddon01" required>
        </form>
        <button type="submit" (click)="UploadProfilePhoto(this.regnno)" class="registerbtn">Upload Photo</button>
        <button type="submit" (click)="back()" class="registerbtn">Back</button>
      
      </div>
    </div>
  </div>
