<div class="header-div">
    <div class="header-welcome-div">
      <h1>Welcome {{this.loggedInUser}}</h1>
    </div>
    <div class="header-logout-div">
       <input id="logoutbtn" type="button" class="logoutbutton" (click)="logout()" href='home' value="Log out">
    </div>
</div>

<div class="container emp-profile background-image"> 
    <form method="post">
        <div class="row">
            <div class="col-md-4">
                <div class="profile-img">
                    <img src="{{this.profilePicPath}}" alt="Profile photo"/>
                </div>
            </div>
            <div class="col-md-6">
                <div class="profile-head">
                    <h2>
                        <p>{{profile.first_name}} {{profile.middle_name}} {{profile.last_name}}</p>
                    </h2>
                    <!-- <p><label>USER NAME: </label><span> {{this.username}}</span></p> -->
                    <p><label>REGISTRATION NO: </label><span> {{profile.regn_no}}</span></p>
                    <p><label>MOBILE NUMBER: </label><span> {{profile.mobile_number}}</span></p>
                    <p><label>DATE OF BIRTH: </label><span> {{profile.date_of_birth | date}}</span></p>
                    <p><label>EMAIL: </label><span> {{profile.email}}</span></p>
                    <mat-tab-group>
                        <mat-tab>
                            <ng-template mat-tab-label>
                                <div class="tab-heading">
                                    Address
                                </div> 
                            </ng-template>
                            <div class="tab-height">
                                <div *ngFor="let addr of address" >
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Address Type</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>{{addr.address_type}}</p>
                                        </div>
                                        <div class="col-md-6">
                                            <label>Address Line 1:</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>{{addr.adddress_line_1}}</p>
                                        </div>
                                        <div class="col-md-6">
                                            <label>Address Line 2:</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>{{addr.adddress_line_2}}</p>
                                        </div>
                                        <div class="col-md-6">
                                            <label>City:</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>{{addr.city}}</p>
                                        </div>
                                        <div class="col-md-6">
                                            <label>District:</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>{{addr.district}}</p>
                                        </div>
                                        <div class="col-md-6">
                                            <label>Pincode:</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>{{addr.pincode}}</p>
                                        </div>
                                        <div class="col-md-6">
                                            <label>Country:</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>{{addr.country}}</p>
                                        </div>
                                        
                                        <div class="col-md-6">
                                            <label>   </label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>  </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </mat-tab>
                        
                        <mat-tab>
                            <div class="tab-height">
                                <ng-template mat-tab-label>
                                    <div class="tab-heading">
                                        Parents Details
                                        </div> 
                                </ng-template>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Fathers Name</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{profile.fathers_name}}</p>
                                    </div>
                                    <div class="col-md-6">
                                        <label>Fathers Occupation</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{profile.father_occupation}}</p>
                                    </div>
                                    <div class="col-md-6">
                                        <label>Fathers Contact No</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{profile.fathers_contact_no}}</p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                        <div class="col-md-6">
                                            <label>Mothers Name</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>{{profile.mothers_name}}</p>
                                        </div>
                                        <div class="col-md-6">
                                            <label>Mothers Occupation</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>{{profile.mother_occupation}}</p>
                                        </div>
                                        <div class="col-md-6">
                                            <label>Mothers Contact No</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>{{profile.mothers_contact_no}}</p>
                                        </div>
                                </div>
                            </div>
                        </mat-tab>
                        <mat-tab>
                            <ng-template mat-tab-label>
                                <div class="tab-heading">
                                    Payment summery
                                    </div>  
                            </ng-template> 
                            <div class="tab-height">
                                <div *ngFor="let payment of paysummary" >
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>LAST PAYMENT DATE</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>{{payment.payment_date.substring(0, 10)}}</p>
                                        </div>
                                        <div class="col-md-6">
                                            <label>PAYMENT AMOUNT </label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>{{payment.pay_amount}}</p>
                                        </div>
                                        <div class="col-md-6">
                                            <label>PAY MONTH FROM</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>{{payment.pay_month_from.substring(0, 10)}}</p>
                                        </div>
                                        <div class="col-md-6">
                                            <label>PAY MONTH TO</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>{{payment.pay_month_to.substring(0, 10)}}</p>
                                        </div> 
                                        <div class="col-md-6">
                                            <label>   </label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>  </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </mat-tab>
                    </mat-tab-group> 
                </div>
            </div>
            <div class="col-md-2">
                <input type="submit" class="profile-edit-btn" (click)="editprofile(profile.profile_id)"  name="btnAddMore" value="Edit Profile"/>
                <input type="submit" class="profile-edit-btn" (click)="uploadProfilePhoto(profile.profile_id)"  name="btnAddMore" value="Update Profile Photo"/>
                <input type="submit" class="profile-edit-btn" (click)="viewPaymentHistory()" name="btnAddMore" value="Payment History"/>
            
            </div>
        </div>
    </form>           
</div>
    
    