<!------ Include the above in your HEAD tag ---------->

  <div class="background-image">
    <div id="id01" class="wrapper">
        <ng-container
            *ngIf="this.is_delete; then delete; else update">
        </ng-container>
        <ng-template #update>
          <h1><b>Password Reset Page</b></h1>
          <p><b>Please fill in this form to Set new Password.</b></p>
          <div class="container">
            <ng-container
                *ngIf="this.result; then YES; else NO">
            </ng-container>
            <ng-template #NO>
                <label for="regnno"><b>RegistrationNo*</b></label>
                <input type="text" placeholder="Enter Registration No" [(ngModel)]="regnno" name="regnno" id="regnno" required>

                <br><br>
                <label for="SecurityQues"><b>Select Your Question*</b></label><br>
                <input type="radio" id="1" name="vocal" [(ngModel)]="SecurityQues" value="1">&nbsp;
                <label for="1">What is your Mother Maiden Name?</label><br>
                <input type="radio" id="2" name="Dance" [(ngModel)]="SecurityQues" value="2">&nbsp;
                <label for="2">What is Your Place Of Birth?</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              
                <br><br>
                <label for="answer"><b>Your Answer*</b></label>
                <input type="text" placeholder="Enter Your Answer" [(ngModel)]="answer" name="answer" id="answer" required>

                <button type="submit" (click)="validateforgetpwd()" class="registerbtn">Validate</button>
            </ng-template>
            <ng-template #YES>
              <div>
                <label for="regnno"><b>RegistrationNo*</b></label>
                <input type="text" placeholder="Enter Registration No" [(ngModel)]="regnno" name="regnno" id="regnno" required>

                <br><br>
                <label for="regnno"><b>Enter New Password*</b></label>
                <input type="password" placeholder="Enter New Password" [(ngModel)]="password" name="password" id="password" required>

                <br><br>
                <label for="cpassword"><b>Confirm Password*</b></label>
                <input type="text" placeholder="Retype Password" [(ngModel)]="cpassword" name="cpassword" id="cpassword" required>

                <br><br>
                <button type="submit" (click)="updatepassword()" class="registerbtn">Update Password</button>
              </div>
            </ng-template>
          </div>
        </ng-template>
        <ng-template #delete>
          <h1><b>Delete User</b></h1>
          <div class="deletecontainer">
            <label for="regnno"><b>RegistrationNo*</b></label>
            <input type="text" placeholder="Enter Registration No" [(ngModel)]="regnno" name="regnno" id="regnno" required>
            <br><br>
            <button type="submit" (click)="deleteuser()" class="deletebtn">Delete User</button>
          </div>
        </ng-template>
    </div>
  </div>

