<!------ Include the above in your HEAD tag ---------->

  <div class="background-image">
    <div id="id01" class="wrapper">
      <h1><b>Forget Password Page</b></h1>
      <p><b>Please fill in this form to Set new Password.</b></p>
      <div class="container">

        <label for="userName"><b>RegistrationNo*</b></label>
        <input type="text" placeholder="Enter Registration No" [(ngModel)]="userName" name="userName" id="userName" required>

        <br><br>
        <label for="SecurityQues"><b>Select Your Question*</b></label><br>
        <input type="radio" id="1" name="vocal" [(ngModel)]="SecurityQues" value="1">&nbsp;
        <label for="1">What is your Mother Maiden Name?</label><br>
        <input type="radio" id="2" name="Dance" [(ngModel)]="SecurityQues" value="2">&nbsp;
        <label for="2">What is Your Place Of Birth?</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      
        <br><br>
        <label for="password"><b>Your Answer*</b></label>
        <input type="text" placeholder="Enter Your Answer" [(ngModel)]="answer" name="answer" id="answer" required>

        <button type="submit"  class="registerbtn">Validate</button>
      </div>
    </div>
  </div>

