<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div id="id01" class="wrapper">
 <!--   <span onclick="window.close()" class="close" title="Close Modal" href='/dashboard'>&times;</span> -->
  <div>

    <!-- Login Form -->
  <div> 
    <form>
    <table>
        <tr>
            <td> </td>
            <td><img src="https://img.icons8.com/fluent/96/000000/user-male-circle.png"/></td>
            <td> </td>
        </tr>
        <tr>
         <td><input type="text" id="firstname" class="fadeIn second" [(ngModel)]="firstname" name="firstname" placeholder="First Name*"></td>
         <td><input type="text" id="lastname" class="fadeIn second"  [(ngModel)]="lastname" name="lastname" placeholder="Last Name*"></td>
        </tr>
        <tr>
          <td><input type="text" id="mobilenumber" class="fadeIn second" [(ngModel)]="mobilenumber" pattern="[0-9]*" name="mobilenumber" placeholder="Mobile no*"></td>
          <td><input type="text" id="emailid" class="fadeIn second" [(ngModel)]="emailid" name="email" placeholder="Email*"></td>
        </tr>
        <tr>
            <td><input type="password" id="password" class="fadeIn second" [(ngModel)]="password" name="password" placeholder="Create a password*"></td>
            <td><input type="text" id="confirmpassword" class="fadeIn second" [(ngModel)]="confirmpassword" name="confirmpassword" placeholder="Confirm password*"></td>
        </tr>
        <tr>
            <td><input type="date" class="fadeIn second " [(ngModel)]="dateofbirth">Date Of Birth*</td>
            <td><input type="text" class="fadeIn second" [(ngModel)]="oldregnno" name="oldregnno"  placeholder="Registration No(if Any)"></td>
        </tr>
        <tr>
             <td><input type="submit" class="fadeIn second" (click)="register()" value="Register"></td>
             <td><input type="submit" class="fadeIn second" (click)="logout()" value="Cancel"></td>
        </tr>           
    </table>
    </form>
  </div>
  </div>
</div>
